    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header" style="height: 132px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 30px;">
                    <h1 class="tagline" style="font-size: 48px">Condicionales</h1>
                </div>
            </div>
        </div>
    </header>

        <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <p>En programación, una sentencia condicional es una instrucción o grupo de instrucciones que se pueden ejecutar o no en función del valor de una condición. Los principales tipos de condicionales son <b>if</b>, <b>if else</b> y <b>switch</b>.</p>
                <br>
                <h2><kbd>if</kbd></h2>
                <p>La sentencia condicional <b>if</b> se usa para tomar decisiones, este evaluá básicamente una operación lógica, que de como resultado "verdadero" o "falso", y ejecuta la pieza de código siguiente siempre y cuando el resultado sea verdadero.</p>
                <div class="alert alert-danger" role="alert" >
	                <h2 style="margin-left: 84px;">
	                	<code style="background-color: inherit;">
	                	<span>if ( 8 > 2 ) {</span><br>
	                	<span>&nbsp&nbsp miVariable = 'casa'</span><br>
	                	}
	                	</code>
	            	</h2>
	                <br>
	            </div>
                <p>En ejemplo de arriba vemos que tras evaluar la operación <b>8 > 2</b> y comprobar que es <b>verdadera</b>, se ejecutará el trozo de código que están entre las llaves <b>{...}</b>. Si por el contrario, la operación hubera sido falsa, el fragmento de codigo que hay entre las dos llaves, no se habría ejecutado.</p>
                <br>
                <h2><kbd>if else</kbd></h2>
                <p>La sentencia condicional <b>if else</b> es una evolución de la anterior. Podemos controlar cuan la operación de condición devuelve falso y ejecutar otro fragmento de código. De este modo tendremos controladas las dos situaciones, tanto si la condición es verdadera, como si la condición es falsa.</p>
                <div class="alert alert-danger" role="alert" >
	                <h2 style="margin-left: 84px;">
	                	<code style="background-color: inherit;">
	                	<span>if ( miVariable > 2 ) {</span><br>
	                	<span>&nbsp&nbsp nombre = 'Juan'</span><br>
	                	} else {<br>
	                	<span>&nbsp&nbsp nombre = 'Pepe'</span><br>
	                	}
	                	</code>
	            	</h2>
	                <br>
	            </div>
                <p>En el ejemplo anterior pasamos a evaluar si el dato que tenemos almacenado en la variable <b>miVariable</b> es mayor que <b>2</b>. De ser así, se ejecutará el código que hay entre las dos primeras llaves, de lo contrario, pasará a ejcutarse el código que hay detrás la palabra reservada <b>else</b>. Los comparadores que podemos usar para evaluar las condiciones son:
                	<ul>
                		<li><b>></b> (mayor que)</li>
                		<li><b><</b> (menor que</li>
                		<li><b>==</b> (igual que)</li>
                		<li><b>!=</b> (distinto que)</li>
                	</ul>

                <br>
                <p>
                    <a class="btn btn-default btn-lg" ui-sref="exercises">Hora de ponerse a prueba &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
				<img src="css/img/ifelse.jpg" width="376px">
                <address>

                    <br><em>Los condicionales generan una bifurcación en el código planteando dos posibles ejecuciones distintas.</em>
                </address>
            </div>
        </div>
        <!-- /.row -->



        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2019 - Víctor Miguel Lázaro Ezquerro</p>

                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>