    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header" style="height: 370px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 30px;">
                    <h1 class="tagline" style="font-size: 48px">Aprende a programar</h1>
                </div>
            </div>
        </div>
    </header>

        <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row" style="background-color: azure;">
            <div class="col-sm-8">
                <h2>Buenos días Eduardo Fonseca!</h2>
                <p>La <u>programación para niños</u> es uno de los sectores que más auge tiene actualmente en el terreno educativo, ya que a parte de ayudar a pensar lógica y estructuradamente, también desarrolla la creatividad, el pensamiento crítico y la capacidad de análisis.</p> 
                <p>Por todo lo anterior se presenta la siguiente apliación web, que por medio de unas simples directrices acompañadas de una serie de ejemplos muy visuales, ayudará al alumno a iniciarse en el apasionante mundo de la programación. A lo largo de este tutorial se trabajarán dos temas básicos dentro de la programación como son las <b>variables</b> y los <b>condicionales</b>.</p>
                <p>El segundo cometido de esta web es satisfacer el trabajo tipo "dosier" de la asignatura <u>Aprendizaje y Desarrollo de la Personalidad</u>. La web se plantea como una primera toma de contacto con el mundo de la programación, quedando la práctica abierta para poder ir ampliando el temario con las posibles evoluciones de la aplicación.</p>
                <p>
                    <a class="btn btn-default btn-lg" ui-sref="variables">Comenzar a aprender &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contacto</h2>
                <img src="css/img/DNI_cerca.jpg" style="width: 168px;border-radius: 50%;">
                <address>
                    <strong>Víctor Miguel Lázaro Ezquerro</strong>
                    <br>Universidad de La Rioja
                    <br>    
                    <br><em>Máster en Profesorado de Educación Secundaria Obligatoria y Bachillerato, Formación Profesional y Enseñanzas de Idiomas</em>
                </address>
                <address>
                    <label>Email:</label> <a href="mailto:#">vilazae@unirioja.es</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2019</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>