    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header" style="height: 132px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 30px;">
                    <h1 class="tagline" style="font-size: 48px">Variables</h1>
                </div>
            </div>
        </div>
    </header>

        <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <p>En programación, una <u>variable</u> es un espacio reservado en la memoria de nuestro ordenador para almacenar un dato que puede ser usado o modificado tantas veces como se desee. Además, las variables deben tener un nombre asociado al dato que almacenan. Es decir, podemos tener una variable llamada Nombre para almacenar el nombre (dato) de una persona, una variable llamada Edad para almacenar la edad (dato), etc. Las variables se definen con la palabra reservada <strong>var</strong> </p> 
                <h2><code>var nombre = "Eduardo"</code></h2>
                <br>

                <p>Las variables también pueden almacenar el resultado de una operación.</p>
                <h2><code>var miVariable = 3 + 7</code></h2>
                <br>


                <p>También podemos copiar el valor de una variable en otra.</p>
                <h2><code>var miNuevaVariable = miVariable</code></h2>
                <br>
                <p>En este ejemplo, <strong>miNuevaVariable</strong> tendrá el valor <strong>10</strong>.</p>
                <br>
                

                <p>
                    <a class="btn btn-default btn-lg" ui-sref="conditionals">Siguente lección &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <img src="css/img/variables-en-programacion.png" width="376px">
                <address>
             
                    <br><em>Las variables se pueden sobre escribir tantas veces como se quiera.</em>
                </address>

               
            </div>
        </div>
        <!-- /.row -->

        <hr>





        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2019 - Víctor Miguel Lázaro Ezquerro</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>